streamlit
chromadb
langgraph 
#langchain_openai 
langchain_community 
langchain_core 
#tavily-python 
#wikipedia
langchain-anthropic
#langchain-google-genai
llama-index>=0.9.27
llama-index-embeddings-huggingface>=0.1.6
torch>=2.1.0
